body {
    margin: 0;
    background-color: rgb(7, 6, 26);
    color: aliceblue;
    text-align: center;
}

input {
    font-size: large;
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
    background-color: black;
    border: 0px solid black;
    color: rgb(92, 180, 180);
    justify-content: space-evenly;
}

input[id*="kpi"] {
    border-radius: 25px;
    width: 50px;
    text-align: center;
    background: rgb(0, 8, 41);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.container {
    height: 300px;
    background-color: black;
    justify-content: space-around;
}

.controls {
    padding-top: 20px;
    min-height: 30%;
}

#hab-result {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.habitable {
    color: lime;
}

.no-habitable {
    color: red;
}